.user-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
}

.avatar-image {
    background-color: white;
    border-radius: 35px;
    border: 1px solid #e4e4e4;
}

.user-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.user-name {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 12px;
}

.user-id {
    font-size: 11px;
}

@media(max-width: 500px) {
    .user-id {
        display: none;
    }
    .user-text {
        margin-left: 8px;
    }
}